<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap">
<style>
* {box-sizing: border-box;}
body {font-family: cursive;
font-size:1.2rem;
background:url(error.png);
background-size:cover;
height:100vh;

}
</style>
</head>
<body align="center" marginheight="100">
 <div class="signupbox">
<h1>Access Denied</h1>
<h2> Incorrect username or password</h2>
<table align="center" cellpadding="10">
<br>
 <tr>
 <td colspan="2" align="center">
<a href="login">Go Back</a><i class="fa fa-user"></i></td>
 </tr>
</table>
</form>
</div>
</body>
</html>
